<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color:#15171B ;
        }
        #painel{
            width: 18rem;
            background-color: #272727;
            border-radius: 15px;
            top:50%;left:60%;
            position:absolute;
            transform: translate(-80%,-50%);
}

    </style>
</head>
<body>
    <div id="painel" class="card" style="width: 40rem;background-color: #272727;padding-bottom:400px;">
        <div class="card-body">
          <h1 style="font-size:25px;color:white;text-align: center;">Em caso de deslizamento de encostas, siga o nosso <br>passo-a-passo</h1>
          $('.carousel').carousel()
        <div class="contatos" style="">
            <h1 style="font-size:20px;color:white;text-align: center;">Contato da Defesa Civil de Pernambuco:</h1>
            <h1 style="font-size:15px;color:white;text-align: center;">(xx)xxxxx-xxxx</h1>
            <h1 style="font-size:20px;color:white;text-align: center;">Contato dos bombeiros:</h1>
            <h1 style="font-size:15px;color:white;text-align: center;">193</h1>
        </div>


        </div>
      </div>
</body>
</html>