{% extends 'base.html' %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% block content %}
<div class="add_content">
    <form action="" method="post" autocomplete="off" class="text-light">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">Salvar</button>
            <button type="button" class="btn btn-warning">
                <a style="color:white;text-decoration:none;"href="{% url 'crud' %}">Cancelar</a>
            </button>
        {% endbuttons %}
    </form>  
</div>    

{% endblock %}