{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
    <h2 class="text-light" style="padding-bottom: 3rem">Encosta</h2>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">Salvar</button>
                <button type="button" class="btn btn-warning">
                    <a href="{% url 'crud' %}">Cancelar</a>
                </button>
            {% endbuttons %}
    </form>
{% endblock %}