<!DOCTYPE html>
{% load bootstrap4 %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Roots</title>
    <style>
        * {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
        }
        body {
          background-color: #15171b;
        }
  
        #logo {
          color: #4fdb0d;
          font-size: 1.5rem;
          margin-left: 5rem;
          transition: ease 0.5s;
        }
  
        #logo:hover {
          font-size: 1.5rem;
          margin-left: 5.5rem;
          transition: ease 0.5s;
        }
    </style>
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
{% if user.is_authenticated %}
    {% if user.is_engineer %}
        <nav class="navbar navbar-dark" style="padding: 1rem; background-color: #111113">
            <a class="navbar-brand" href="{% url 'index' %}" id="logo">
                <img src="{% static "roottsapp/images/roottst.png" %}" alt="rootts" id="image" style="width:120px;" />
            </a>
            <ul class="nav" style="margin-right: 5rem">
                <li class="nav-item">
                    <button class="btn btn-outline-light" type="button" data-toggle="modal" data-target="#" style="margin-right: 1rem">Logout</button>
                </li>
            </ul>
        </nav>
        <div class="container" style="display: flex; margin-top: 10rem; padding-left: 0rem; padding-right: 5rem; justify-content: space-between; align-items: center;">
            <div class="left text-light font-weight-bold" style="max-width: 300px">
                <h1>Localizar</h1>
                <h1 style="color: #4fdb0d;">Prevenir</h1>
                <h1>Ajudar</h1>
                
                
            </div>
            <div>
                <span class="text-secondary"style="font-size:17px;padding-left:px;">A Rootts é uma startup incubada pela CESAR School<br> que atualmente desenvolve soluções que<br>
                    pretendem melhorar as experiências de: 
                    <br><br>
                    • captação e organização de dados referentes<br> ao cálculo de risco de deslizamentos de terra;<br><br>
                    • monitoramento em tempo real das encostas<br> através de artefatos pluviométricos; <br><br>
                    • notificação ágil para a população em risco.</span>
            </div>
            <div class="right">
                <div class="content" style="display: flex; align-items:center;flex-direction:column;">
                    <h1 class="text-light">O que você deseja fazer?</h1>
                    <div class="row" style="margin-top: 2rem">
                        <div class="col">
                            <a href="{% url 'crud' %}" class="btn btn-outline-danger text-light" style="width: 200px">Crud</a>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    {% else %}
        <nav class="navbar navbar-dark" style="padding: 1rem; background-color: #111113">
            <a class="navbar-brand" href="{% url 'index' %}" id="logo">
                <img src="{% static "roottsapp/images/roottst.png" %}" alt="rootts" id="image" style="width:120px;" />
            </a>
            <ul class="nav" style="margin-right: 5rem">
                <li class="nav-item">
                    <button class="btn btn-outline-light" type="button" data-toggle="modal" data-target="#" style="margin-right: 1rem">Logout</button>
                </li>
            </ul>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="modal fade" id="myModal">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content"style="background-color: #272727;text-align: center;">
                                
                                    <h1 style="text-align: center;color:aliceblue;">Contatos Importantes</h1>
                                
                                        <div class="modal-body">
                                            <h1 style="text-align: center;font-size:25px;color:white;">Contato da Defesa civil</h1>
                                            <p style="text-align: center;color:white;">(xx)xxxxx-xxxx</p>
                                            <h1 style="text-align: center;font-size:25px;color:white;">Corpo de Bombeiros</h1>
                                            <p style="text-align: center;color:white;">193</p>
                                            <h1 style="text-align: center;font-size:25px;color:white;">Posso evitar um deslizamento?</h1>
                                            <p style="text-align: center;color:white;">Sim, existem algumas coisas que você pode fazer, entre elas estão:<br><br>
                                                1. Não destrua a vegetação das encostas;<br><br>
                                                2. Não jogue lixo em vias públicas ou barreiras;<br><br>
                                                3. Não dificulte o caminho das águas de chuva com lixo<br><br>
                                                4. As barreiras devem ser protegidas com vegetação que tenham<br> raízes compridas, gramas e capins que sustentam mais a terra.</p>
                                            <h1 style="text-align: center;font-size:25px;color:white;">E caso o deslizamento ocorra?</h1>
                                            <p style="text-align: center;color:white;">O primeiro passo é não se desesperar. Caso a fatalidade<br> não possa ser evitada,
                                            você pode seguir alguns passos básicos:<br><br>
                                            1. Avise imediatamente a Defesa Civil do seu Município e o Corpo de Bombeiros;<br><br>
                                            2. Avise o máximo de pessoas que residem na área do deslizamento;<br><br>
                                            3. Afaste-se e colabore para que curiosos mantenham-se afastados do<br> local do deslizamento,
                                            poderá haver novos deslizamentos;<br></p>
                                            
                                        </div>
                                
                                    <button class="btn btn-success" data-dismiss="modal" style="max-width:150px;margin-left:328px;margin-bottom:20px;">Fechar</button>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" style="display: flex; margin-top: 10rem; padding-left: 0rem; padding-right: 5rem; justify-content: space-between; align-items: center;">
            <div class="left text-light font-weight-bold" style="max-width: 300px">
                <h1>Localizar</h1>
                <h1 style="color: #4fdb0d;">Prevenir</h1>
                <h1>Ajudar</h1>
                
                
            </div>
            <div>
                <span class="text-secondary"style="font-size:17px;padding-left:px;">A Rootts é uma startup incubada pela CESAR School<br> que atualmente desenvolve soluções que<br>
                    pretendem melhorar as experiências de: 
                    <br><br>
                    • captação e organização de dados referentes<br> ao cálculo de risco de deslizamentos de terra;<br><br>
                    • monitoramento em tempo real das encostas<br> através de artefatos pluviométricos; <br><br>
                    • notificação ágil para a população em risco.</span>
            </div>
            <div class="right">
                <div class="content">
                    <h1 class="text-light">O que você deseja fazer?</h1>
                    <div class="row" style="margin-top: 2rem">
                        <div class="col">
                            <a href="#" data-toggle="modal" data-target="#myModal"class="btn btn-outline-danger text-light" style="width: 100%">Contatar Emergencia</a>
                        </div>
                        <div class="col">
                            <a href="{% url 'DenunciaForm' %}" class="btn btn-outline-danger text-light" style="width: 100%">Reportar um problema</a>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    {% endif %}

{% else %}
    <nav class="navbar navbar-dark" style="padding: 1rem; background-color: #111113">
        <a class="navbar-brand" href="{% url 'index' %}" id="logo">
            <img src="{% static "roottsapp/images/roottst.png" %}" alt="rootts" id="image" style="width:120px;" />
        </a>
        <ul class="nav" style="margin-right: 5rem">
            <li class="nav-item">
                <a href="{% url 'login' %}"><button class="btn btn-outline-light" type="button" data-toggle="modal" data-target="#modalLogin" style="margin-right: 1rem">Login</button></a>
            </li>
            <li class="nav-item">
                <a href="{% url 'register' %}"><button class="btn btn-outline-light" type="button" data-toggle="modal" data-target="#modalCadastro">Cadastro</button></a>
            </li>
        </ul>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="modal fade" id="myModal">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content"style="background-color: #272727;text-align: center;">
                            
                                <h1 style="text-align: center;color:aliceblue;">Contatos Importantes</h1>
                            
                                    <div class="modal-body">
                                        <h1 style="text-align: center;font-size:25px;color:white;">Contato da Defesa civil</h1>
                                        <p style="text-align: center;color:white;">(xx)xxxxx-xxxx</p>
                                        <h1 style="text-align: center;font-size:25px;color:white;">Corpo de Bombeiros</h1>
                                        <p style="text-align: center;color:white;">193</p>
                                        <h1 style="text-align: center;font-size:25px;color:white;">Posso evitar um deslizamento?</h1>
                                        <p style="text-align: center;color:white;">Sim, existem algumas coisas que você pode fazer, entre elas estão:<br><br>
                                            1. Não destrua a vegetação das encostas;<br><br>
                                            2. Não jogue lixo em vias públicas ou barreiras;<br><br>
                                            3. Não dificulte o caminho das águas de chuva com lixo<br><br>
                                            4. As barreiras devem ser protegidas com vegetação que tenham<br> raízes compridas, gramas e capins que sustentam mais a terra.</p>
                                        <h1 style="text-align: center;font-size:25px;color:white;">E caso o deslizamento ocorra?</h1>
                                        <p style="text-align: center;color:white;">O primeiro passo é não se desesperar. Caso a fatalidade<br> não possa ser evitada,
                                        você pode seguir alguns passos básicos:<br><br>
                                        1. Avise imediatamente a Defesa Civil do seu Município e o Corpo de Bombeiros;<br><br>
                                        2. Avise o máximo de pessoas que residem na área do deslizamento;<br><br>
                                        3. Afaste-se e colabore para que curiosos mantenham-se afastados do<br> local do deslizamento,
                                        poderá haver novos deslizamentos;<br></p>
                                        
                                    </div>
                            
                                <button class="btn btn-success" data-dismiss="modal" style="max-width:150px;margin-left:328px;margin-bottom:20px;">Fechar</button>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="display: flex; margin-top: 10rem; padding-left: 0rem; padding-right: 5rem; justify-content: space-between; align-items: center;">
        <div class="left text-light font-weight-bold" style="max-width: 300px">
            <h1>Localizar</h1>
            <h1 style="color: #4fdb0d;">Prevenir</h1>
            <h1>Ajudar</h1>
            
            
        </div>
        <div>
            <span class="text-secondary"style="font-size:17px;padding-left:px;">A Rootts é uma startup incubada pela CESAR School<br> que atualmente desenvolve soluções que<br>
                pretendem melhorar as experiências de: 
                <br><br>
                • captação e organização de dados referentes<br> ao cálculo de risco de deslizamentos de terra;<br><br>
                • monitoramento em tempo real das encostas<br> através de artefatos pluviométricos; <br><br>
                • notificação ágil para a população em risco.</span>
        </div>
        <div class="right">
            <div class="content">
                <h1 class="text-light">O que você deseja fazer?</h1>
                <div class="row" style="margin-top: 2rem">
                    <div class="col">
                        <a href="#" data-toggle="modal" data-target="#myModal"class="btn btn-outline-danger text-light" style="width: 100%">Contatar Emergencia</a>
                    </div>
                    <div class="col">
                        <a href="{% url 'DenunciaForm' %}" class="btn btn-outline-danger text-light" style="width: 100%">Reportar um problema</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    </div>
    {% bootstrap_javascript jquery='full'%}
{% endif %}
</body>
</html>