{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar</title>
    {% bootstrap_css %}
    <style>
        body{
            background-color: #15171b;
        }
        .main-content{
            border: 4px solid red;
            height: 86vh;
            width: 90vw;
            margin-left: 70px;
            margin-top:45px;
        }
        #btncivil{
            background-color: red;
            margin-top: 280px;
            
            align-items: center;
        }


    </style>
</head>
<body>
    <div class="main-content">
        <div id="btncivil">
            <a href="{% url 'DenunciaForm' %}" class="btn btn-success text-light" style="width: 10%">Civil</a>
        </div>
    </div>

</body>
</html>