{% extends 'base2.html' %}
{% load humanize %}
{% block content %}

    <div class="row  text-light" style="margin-bottom: 1.5rem; background-color: #FFF display: flex; align-items: center; justify-content: space-between">
        <h3>
            Encostas Disponiveis
        </h3>
    </div>


    <div class="row text-light" >
        <table class="table table-striped table-dark">
          <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Localização</th>
                </div>
                    <th scope="col">Risco de Deslizamento</th>
                <div>
            </tr>
          </thead >
                {% for encosta in encostas %}
                    <tr>
                        <td>{{ encosta.nome }}</td>
                        <td>{{ encosta.local }}</td>
                        <td>{{ encosta.prioridadeEncosta }}</td>
                    </tr>
                {% endfor %}
        </table>

    </div>
{% endblock %}