<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet/less" type="text/css" href="../static/styles/index.scss" />
  <script src="https://cdn.jsdelivr.net/npm/less" ></script>
  <!-- <link rel="shortcut icon" href="favicon.png" type="image/png" /> -->


  <title>Roots</title>
</head>
<body>
  <section id="header">
    <div class="logo">Rotts</div>
    <div class="menu">
      <a href="/">Login</a>
      <a href="/">Registro</a>
    </div>
  </section>

  <section id="bottom">
    <div class="container">
      <h1>@copyright 2022 - Roots</h1>
    </div>
  </section>
</body>
</html>